.expand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 150px;
    height: 500px;
    margin: 10px;
    border: 1px solid #3A4D39;
    border-radius: 50px;
    background: url(../img/Seasons/spring.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2) {
    background: url(../img/Seasons/summer.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background: url(../img/Seasons/autumn2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background: url(../img/Seasons/winter.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    position: absolute;
    font-size: 1.5rem;
    top: 50px;
    color: #3A4D39;
    left: 445px;
    font-size: 50px;
    font-weight: 200;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box .textsezone {
    position: absolute;
    top: 180px;
    color: #3A4D39;
    font-size: 23px;
    font-weight: 500;
    font-weight: 200;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    background-color: #ece3ce5b;
    padding: 30px;
    border-radius: 20px;
    margin: 0 20px 0 20px;
    text-align: center;
}

.img-box:hover {
    width: 1000px;
    cursor: pointer;
}

.img-box:hover h3,
.img-box:hover .textsezone {
    opacity: 1;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-box:hover .btn {
    opacity: 1;
    height: 200px;
    cursor: pointer;
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 10px #ECE3CE, 0px 0px 10px #3A4D39;
    }

    to {
        text-shadow: 0px 0px 25px #ECE3CE, 0px 0px 25px #3A4D39;
    }
}